<footer>
  footer

  <p class="footer__text">this svg is pasted from icons.svg file</p>
  <button class="footer__icon-wrapper">
    <svg role="img" class="footer__icon">
      <use xlink:href="icons.svg#tel" />
    </svg>
  </button>
</footer>
</body>

</html>
