<footer>
  <div class="footer-wrapper">
    <p class="footer__text">Happy development!</p>
    <svg role="img" class="footer__icon">
      <use xlink:href="icons.svg#smile"/>
    </svg>
  </div>
</footer>
</body>
</html>
