{{> partials/header pageTitle="Webpack Starter"}}
<section class="main" data-controller="main" style="background-image: url(/pictures/main-bg.jpg)">
  <p class="main__text">
    This build will speed up and ease your development.
    If you see this page, then you have read the Readme.me in my repository.
    If you haven't read it then do it! Without reading the readme,
    it can be difficult to understand how it works.
  </p>
  <p class="main__text">
      There is also a separate npm package with all the functions, mixins, and variables for rendering your design:
    <a href="https://github.com/dmittryyyy/mix-design">link to design system</a>.
  </p>
</section>
{{> partials/footer}}
