{{> partials/header pageTitle="your project"}}
<section class="main" data-controller="main">
  <p class="main__text">
    This assembly will speed up and facilitate your development.
    If you are reading this, then you have read the Readme.me in my repository.
    And if you haven't done so, please do so without reading the readme, it may be difficult to understand how this
    assembly works.</p>
</section>
{{> partials/footer}}
