@use '../variables' as *;
@use '../placeholders' as *;
@use '../mixins' as *;

footer {
  background: rgb($color-black, 0.64);
  border-top: 2px solid $color-white;
}

.footer-wrapper {
  @include grid-container;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include screen-small-up {
    flex-direction: column;
  }

  @include screen-medium-up {
    flex-direction: unset;
  }
}

.footer__text {
  color: $color-white;
  font-weight: 600;
  @include typo-make-h2;
  text-align: center;
  margin-top: 12px;

  @include screen-small-up {
    margin-top: 12px;
    text-align: center;
  }

  @include screen-medium-up {
    margin-top: 0;
    text-align: left;
  }
}

.footer__icon {
  width: 128px;
  height: 128px;
}


