@use '../variables' as *;
@use '../placeholders' as *;
@use '../mixins' as *;

header {
  background: rgb($color-black, 0.64);
  color: $color-white;
  padding: 12px 0;
  border-bottom: 4px solid $color-black;
}

.header-wrapper {
  @include grid;
  @include grid-container;
  align-items: center;
}

.header__title {
  @include grid-columns-span((small: 4, medium: 3, large: 5));
  justify-self: center;
  @include screen-small-up {
    justify-self: center;
  }

  @include screen-medium-up {
    justify-self: start;
  }
  @include typo-make-h1;
}

.header__subtitle {
  @include grid-columns-span((small: 4, medium: 5, large: 7));
  @include typo-make-h2;
  justify-self: center;
  text-align: center;
  @include screen-small-up {
    justify-self: center;
    text-align: center;
  }

  @include screen-medium-up {
    justify-self: end;
    text-align: left;
  }
}
